button.button {
    border: none;
    background: none;
    color: #FFFFFF;
    padding: 10px 15px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

button.button.orange {
    background: #EE7023
}

button.button.turquoise {
    background: #31A3AE;
}

button-component {
    display: block;
}

button-component + button-component {
    padding-top: 8px;
}

@media screen and (min-width: 700px) {
    button-component {
        display: inline-block;
    }

    button-component + button-component {
        padding-top: 0;
        padding-left: 8px;
    }
}
